---
import Navbar from "../components/Navbar.jsx"
import Footer from '../components/Footer.astro';
import Home from "../components/Home.astro"
import AboutComp from "../components/About.jsx"


---
<div class=" h-screen bg-[#282C34] font-mono flex flex-col ">
	<section class="w-full ">
		<Navbar currentTab={"about"} />
	</section>
	<AboutComp client:load />

	<section class=" fixed bottom-0 w-full">
		<Footer />
	</section>
	
	<!-- <Projects /> -->
</div>../components/Projects.jsx/index.js../components/About.jsx/index.js