---
import About from '../components/About.astro';
import Sidebar from '../components/Sidebar.astro'
import Projects from '../components/Projects.astro'
---
<div class=" h-screen bg-[#1D1F23] font-mono flex ">
	
	<Sidebar />
	<About />
	<!-- <Projects /> -->
  </div>