---
import Navbar from "../components/Navbar.jsx"
import Footer from '../components/Footer.astro';
import Home from "../components/Home.astro"


---
<div class=" h-screen bg-[#282C34] font-mono flex flex-col ">
	<section class="w-full ">
		<Navbar currentTab={"hello"}/>
	</section>
	<Home />

	<section class=" fixed bottom-0 w-full">
		<Footer />
	</section>
</div>