---
import About from '../components/About.astro';
import Projects from '../components/Projects.astro'
import Navbar from "../components/Navbar.astro"
import Footer from '../components/Footer.astro';



---
<div class=" h-screen bg-[#282C34] font-mono flex flex-col ">
	<section class="w-full ">
		<Navbar />
	</section>
	<About />
	<Footer />
	<!-- <Projects /> -->
</div>

<style>
	@import url("https://use.typekit.net/eph8ymq.css");
	*{
		font-family: "futura-pt", sans-serif;
		font-weight: 900;
		font-style: normal;
	}
  </style>