---
import ProjectsComp from '../components/Projects.jsx'
import Navbar from "../components/Navbar.jsx"
import Footer from '../components/Footer.astro';



---
<div class=" h-screen bg-[#282C34] font-mono flex flex-col ">
	<section class="w-full ">
		<Navbar currentTab={"projects"}/>
	</section>
    <ProjectsComp client:load />

	<section class=" fixed bottom-0 w-full">
		<Footer />
	</section>
	
	<!-- <Projects /> -->
</div>