---
import Navbar from "./Navbar.astro"
---

<section class="w-[80vw] h-full bg-[#282C34] ">
  <Navbar />
  <div class="text-[#828488] p-3">
    <h2 class="text-2xl font-bold mb-4">Hi, my name is</h2>
    <p>
      Iver Morland
    </p>
  </div>
    

  </section>