---
import { FaGithub, FaLinkedin } from "react-icons/fa";
import { IoMail } from "react-icons/io5";

---

<footer class="bg-[#1D1F23] z-50 text-white py-4 flex gap-2 h-[4vh] sm:h-[6vh] items-center">
    <p class="pl-5 text-sm sm:text-base">Connect with me:  </p>
    <a href="https://github.com/ivermoka"><FaGithub size={"40px"} /> </a>
    <a href="https://www.linkedin.com/in/iver-morland-karlsvik-758786276/"><FaLinkedin size={"40px"} /> </a>
    <a onclick='window.location.href = "mailto:ivermoka@icloud.com";''><IoMail size={"40px"} /> </a>
  </footer>
  