---
import Tab from "./Tab.astro"
import { BiLogoGoLang } from "react-icons/bi";

const { setCurrentTab } = Astro.props
---

<section class="h-[4vh] flex items-center justify-center bg-[#26292d] text-[#adb0b5] text-lg">
    ivermoka_portfolio.go
    <div class=" absolute right-0 pr-4">
     - # X
    </div>
</section>
<section class="h-[4.5vh] w-full flex justify-start bg-[#1D1F23] text-[#828488]">
    <Tab name="hello.html" active={true} />
    <Tab name="about.go" />
    <Tab name="projects.json" />
    {}
</section>