<section class=" text-white text-center py-7 flex flex-col-reverse justify-end gap-4 w-[13vw] px-5 text-xl ">
    <h2 class="flex"><span class=" text-[#34847B] pr-2">&gt; </span>Projects </h2> 
    <h2 class="flex"><span class=" text-[#34847B] pr-2">&gt; </span>About </h2> 

</section>