---
const { name, link, active } = Astro.props
---

<a href={link}>
    {active ? (
            <div class="flex items-center w-40 h-full justify-center cursor-pointer bg-[#3a3d43] text-[#828488] border-b">
                
                {name}
            </div> )
            :
            (
            <div class="flex items-center w-40 h-full justify-center cursor-pointer bg-[#2e3136]  text-[#828488]">
                
                {name}
            </div> ) }
        
</a>